<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.micah.gateway.mapper.FilterMapper">
    <resultMap id="filterMap" type="org.micah.gateway.entity.Filter">
        <id property="filterId" column="filter_id"/>
        <result property="filterName" column="filter_name"/>
        <result property="filterVal" column="filter_val"/>
    </resultMap>

    <select id="selectByRouterId" resultMap="filterMap">
        select f.id as filter_id, filter_name, filter_val
        from filter f
                 left join router_filter rf on f.id = rf.filter_id
        where rf.router_id = #{id};
    </select>
</mapper>