<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.micah.system.mapper.MenuMapper">

    <resultMap id="menuBaseMap" type="org.micah.model.Menu">
        <id column="menu_id" property="id"/>
        <result column="menu_update_time" property="updateTime"/>
        <result column="menu_update_by" property="updateBy"/>
        <result column="menu_create_time" property="createTime"/>
        <result column="menu_create_by" property="createBy"/>
        <result column="cache" property="cache"/>
        <result column="component" property="component"/>
        <result column="component_name" property="componentName"/>
        <result column="hidden" property="hidden"/>
        <result column="icon" property="icon"/>
        <result column="i_frame" property="iFrame"/>
        <result column="menu_sort" property="menuSort"/>
        <result column="path" property="path"/>
        <result column="permission" property="permission"/>
        <result column="pid" property="pid"/>
        <result column="sub_count" property="subCount"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
    </resultMap>

    <resultMap id="menuWithRoleMap" type="org.micah.model.Menu" extends="menuBaseMap">
        <collection property="roles" resultMap="org.micah.system.mapper.RoleMapper.roleBaseMap"/>
    </resultMap>

    <sql id="menuSql">
        ${property}.menu_id,
        ${property}.pid,
        ${property}.sub_count,
        ${property}.type,
        ${property}.title,
        ${property}.name as component_name,
        ${property}.component,
        ${property}.menu_sort,
        ${property}.icon,
        ${property}.path,
        ${property}.i_frame,
        ${property}.cache,
        ${property}.hidden,
        ${property}.permission,
        ${property}.create_by as menu_create_by,
        ${property}.update_by as menu_update_by,
        ${property}.create_time as menu_create_time,
        ${property}.update_time as menu_update_time
    </sql>

    <sql id="baseQueryAll">
        <include refid="menuSql">
            <property name="property" value="sys_menu"/>
        </include>
        ,
        <include refid="org.micah.system.mapper.RoleMapper.roleSql">
            <property name="property" value="sr"/>
        </include>
        from sys_menu left join sys_roles_menus srm on sys_menu.menu_id = srm.menu_id
        left join sys_role sr on srm.role_id = sr.role_id
    </sql>

    <select id="queryByRoleIds" resultType="org.micah.model.Menu">
        select
        <include refid="menuSql">
            <property name="property" value="sys_menu"/>
        </include>
        from sys_menu
        left join sys_roles_menus srm on sys_menu.menu_id = srm.menu_id
        <where>
            srm.role_id in
            <foreach collection="ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="queryAll" resultMap="menuWithRoleMap">
        select
        <include refid="baseQueryAll"/>
        <if test="ew != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>
    <select id="queryAllByPage" resultMap="menuWithRoleMap">
        select
        <include refid="baseQueryAll"/>
        <if test="ew != null">
            <where>
                ${ew.sqlSegment}
            </where>
        </if>
    </select>
    <select id="queryById" resultMap="menuWithRoleMap">
        select
        <include refid="baseQueryAll"/>
        <where>
            sys_menu.menu_id = #{id}
        </where>
    </select>

    <select id="queryByUserId" resultMap="menuBaseMap">
        SELECT
        <include refid="menuSql">
            <property name="property" value="sm"/>
        </include>
        FROM sys_menu sm
        LEFT JOIN sys_roles_menus srm ON sm.menu_id = srm.menu_id
        LEFT JOIN sys_users_roles sur ON srm.role_id = sur.role_id
        LEFT JOIN sys_user su ON sur.user_id = su.user_id
        WHERE su.user_id = #{currentUserId}
    </select>

    <select id="queryByRoleId" resultMap="menuBaseMap">
        select
        <include refid="menuSql">
            <property name="property" value="sys_menu"/>
        </include>
        from sys_menu
        left join sys_roles_menus srm on sys_menu.menu_id = srm.menu_id
        <where>
            srm.role_id = #{id}
        </where>
    </select>
</mapper>