<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.micah.system.mapper.MenuMapper">

    <select id="queryByRoleIds" resultType="org.micah.model.Menu">
        select
        sm.menu_id as id,
        sm.pid,
        sm.sub_count,
        sm.type,
        sm.title,
        sm.name,
        sm.component,
        sm.menu_sort,
        sm.icon,
        sm.path,
        sm.i_frame,
        sm.cache,
        sm.hidden,
        sm.permission,
        sm.create_by,
        sm.update_by,
        sm.create_time,
        sm.update_time
        from sys_menu sm
        left join sys_roles_menus srm on sm.menu_id = srm.menu_id
        <where>
            srm.role_id in
            <foreach collection="ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
</mapper>